{{ define "main" }}

{{ partial "page-title.html" . }}

{{ "<!-- Company Description Section Start -->" | safeHTML }}
<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 wow fadeInLeft" data-wow-delay=".3s">
                <h2 class="subtitle wow fadeInUp color" data-wow-delay=".3s" data-wow-duration="500ms">Sungho Spark</h2>
                <h3 class="subtitle wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1000ms">Technical Resume</h3>
                <h4 class="wow fadeInUp" data-wow-delay=".8s" data-wow-duration="1000ms">Sr SRE / DevOps specialized in container orchestration, IaaC, and CI automation</h4>
                <br>
                <h3 class="subtitle wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1000ms">Experience</h3>
                <div class="item-heading row align-items-center mb-2">
                    <h5 class="item-title col-12 col-md-6 col-lg-6 mb-2 mb-md-0">Sr Site Reliability Engineer</h5>
                    <div class="item-meta col-12 col-md-6 col-lg-6 text-muted text-left text-md-right">BlueOwl | 2019 - 2020</div>
                </div>
                <div class="item-content">
                    <p>
                        Implemented automated and modularized terraform 12 deployment pattern using terragrunt and github actions.<br>
                        Helped various QA teams to automate and modernize the test automation suites.<br>
                        Shared mindfulness and selfcare practices such as breathing exercises throughout the organization.
                    </p>
                </div>                
                <div class="item-heading row align-items-center mb-2">
                    <h5 class="item-title col-12 col-md-6 col-lg-6 mb-2 mb-md-0">Sr Site Reliability Engineer</h5>
                    <div class="item-meta col-12 col-md-6 col-lg-6 text-muted text-left text-md-right">FlightGlobal | 2017 - 2019</div>
                </div>
                <div class="item-content">
                    <p>Embedded SRE for Web and Mobile team responsible for <a href="https://www.flightstats.com/v2/">https://www.flightstats.com/v2/</a><br>
                        Kubernetes evangelist with practical production implementations.<br>
                        Developed deployment pipeline written as Jenkinsfile featuring pull request analysis, automated tests, automated staging deployment, and blue green deployment for production environment for zero downtime deployment.<br>
                        Transformed manually managed AWS environment into automated infrastructure with terraform and serverless.
                    </p>
                </div>
                <div class="item-heading row align-items-center mb-2">
                    <h5 class="item-title col-12 col-md-6 col-lg-6 mb-2 mb-md-0">Sr DevOps Engineer</h5>
                    <div class="item-meta col-12 col-md-6 col-lg-6 text-muted text-left text-md-right">Nike | 2016 –2017</div>
                </div>
                <div class="item-content">
                    <p>
                        Evaluated new tools and provide automation to help other team’s adaption.<br>
                        Developed CI/CD pipeline automation for AWS Lambda, API Gateway, and ECS with Python.<br>
                        Automated Docker Swarm cluster creation and CI/CD for containers with Salt Stack.<br>
                        Integrated Hubot with Slack to enable Chat Ops.<br>
                    </p>
                </div>
                <div class="item-heading row align-items-center mb-2">
                    <h5 class="item-title col-12 col-md-6 col-lg-6 mb-2 mb-md-0">DevOps / CloudOps Engineer</h5>
                    <div class="item-meta col-12 col-md-6 col-lg-6 text-muted text-left text-md-right">BloomHealth | 2014 - 2016</div>
                </div>
                <div class="item-content">
                    <p>
                        Maintained and improved existing AWS infrastructure provisioned with Chef and Rightscale.<br>
                        Designed and implemented more automated and event driven infrastructure from scratch with CloudFormation, SaltStack, and Docker. From VPC to Route 53 entries everything was automated.<br>
                        Researched and implemented new tools such as OpenVPN, Elasticsearch, and AWS RDS with security requirements and restrictions under HIPAA compliance.<br>
                    </p>
                </div>
                <div class="item-heading row align-items-center mb-2">
                    <h5 class="item-title col-12 col-md-6 col-lg-6 mb-2 mb-md-0">Ruby DevOps Engineer</h5>
                    <div class="item-meta col-12 col-md-6 col-lg-6 text-muted text-left text-md-right">BestBuy | 2014</div>
                </div>
                <div class="item-content">
                    <p>
                        Managed BestBuy’s software development lifecycle(SDLC) tools including OpenStack infrastructure, Atlassian stacks, Artifactory, Jenkins, and more.<br>
                        Used Opscode Chef for configuration management, Jenkins for continuous integration, OpenStack for testing/development environment, and AWS for production environment.<br>                        
                        Consulted various teams in BestBuy to enable agile methodology for specific team needs.
                    </p>
                </div>
                <div class="item-heading row align-items-center mb-2">
                    <h5 class="item-title col-12 col-md-6 col-lg-6 mb-2 mb-md-0">Automation Engineer</h5>
                    <div class="item-meta col-12 col-md-6 col-lg-6 text-muted text-left text-md-right">Lender Processing Services | 2012 - 2014</div>
                </div>
                <div class="item-content">
                    <p>
                        Managed security vulnerabilities of 2500 servers in Windows Server environment
                    </p>
                </div>                
                <br>
                <h3 class="subtitle wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1000ms">Education</h3>
                <div class="item-heading row align-items-center mb-2">
                    <h5 class="item-title col-12 col-md-6 col-lg-6 mb-2 mb-md-0 wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1200ms">Bachelor of Engineering – Computer Engineering</h5>
                    <div class="item-meta col-12 col-md-6 col-lg-6 text-muted text-left text-md-right wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1200ms">University of Minnesota - Twin Cities | 2007 - 2011</div>
                </div>                
                <p>
                <!-- {{ with .Site.Data.resume.image }}<img src="{{ . | absURL }}" alt="" class="img-fluid">{{ end }} -->
            </div>
            <div class="col-md-6">
                <div class="block">
                    {{ with .Site.Data.resume.title }}<h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">{{ . }}</h3>{{ end }}
                    {{ with .Site.Data.resume.description }}
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                        {{ . | safeHTML }}
                    </p>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ "<!--  Company Feature Section Start -->" | safeHTML }}
<section class="about-feature clearfix">
    <div class="container-fluid">
        <div class="row">
            {{ range $index, $element := .Site.Data.resume.resumeItem }}
            <div class="col-lg-4 px-0">
                {{ $class := add $index 1 }}
                <div class="block about-feature-{{ $class }} wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                    {{ with .title }}<h2>{{ . }}</h2>{{ end }}
                    {{ with .description }}<p>{{ . }}</p>{{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!--  Company Feature Section End -->" | safeHTML }}

<!-- {{ partial "team.html" . }}

{{ partial "clients.html" . }} -->

{{ partial "cta.html" . }}

{{ end }}