{{ partial "header.html" . }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.contact.enable }}
{{ "<!-- Contact Section Start -->" | safeHTML }}
<section id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <div class="block">
                    {{ with .Site.Data.contact.contactFormTitle }}<h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
                    {{ with .Site.Data.contact.contactFormSubtitle }}<p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">{{ . }}</p>{{ end }}
                    <div class="contact-form">
                        <form id="contact-form" class="form-meghna" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/spark.sungho@gmail.com" method="post" role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" id="full-name" placeholder="Your Name" required="">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email-address" placeholder="Your Email" required="">
                            </div>
                            <div class="form-group">
                                <input type="text" name="subject" class="form-control" id="email-subject" placeholder="Subject">
                            </div>
                            <div class="form-group">
                                <textarea rows="5" name="message" class="form-control" id="message" placeholder="Message" required=""></textarea>
                            </div>
                            <div id="cf-submit">
                                <input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map-area">
                    {{ with .Site.Data.contact.mapTitle }}<h2 class="subtitle  wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
                    {{ with .Site.Data.contact.mapSubtitle }}<p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">{{ . | safeHTML}}</p>{{ end }}
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDYvsTiIMHUQpczyFER_OAIqGqTdzWazHw&q=Portland+OR"
                            width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row address-details">
            <div class="col-lg-3 col-sm-6">
                <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                    <i class="ion-ios-location-outline"></i>
                    {{ with .Site.Data.contact.officeAddress1 }}<h5>{{ . }}</h5>{{ end }}
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                    <i class="ion-ios-email-outline"></i>
                    <p>{{ with .Site.Data.contact.mail1 }}{{ . }}{{ end }}
                        <br>{{ with .Site.Data.contact.mail2 }}{{ . }}{{ end }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                    <i class="ion-ios-paperplane"></i>
                    {{ with .Site.Data.contact.telegram }}<h5><a href="https://telegram.org">{{ . }}</a></h5>{{ end }}
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                    <i class="ion-social-instagram"></i>
                    <p>{{ with .Site.Data.contact.instagram }}<a href="https://instagram.com/sunghospark">{{ . }}</a></p>{{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Contact Section End -->" | safeHTML }}
{{ end }}

{{ partial "cta.html" . }}

{{ partial "footer.html" . }}